.score-summary {
  text-align: center;
}

.score-summary table {
  margin: 0 auto;
  border-collapse: collapse;
}

.score-summary th,
.score-summary td {
  border: 1px solid white;
  padding: 8px 16px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(44, 123, 197);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(44, 123, 197, 0.8);
}
.button-center {
  display: flex;
  justify-content: center;
}
.center {
  text-align: center;
}
